{% extends 'layout.html' %}
{% block title %}About{% endblock %}
{% block content %}
<body style="background-color: #11100f;">
  <div class="d-flex justify-content-center">
    <div class="alert alert-info" role="alert" style="background-color: #09f9a9;">
      Let me join your team! I'm currently looking for software engineering internships in Monterrey N.L.! <a
        href="{{ url_for('static', filename='media/resume.pdf') }}">Check my Resume</a>
    </div>
  </div>
  <div class="container">
    <h1 class="display-4 text-white">What is Luuna.org?</h1>
    <p class="lead text-white">Luuna.org is a image board I made to showcase my software engineering
      knowledge on a real world scenario.</p>
  </div>
  <div class="container">
    <h1 class="display-4 text-white">Where can I contact you?</h1>
    <p class="lead text-white">To get in touch with me: jose.saldanafrs@uanl.edu.mx</p>
  </div>
  <div class="container">
    <h1 class="display-4 text-white">Which technologies did you use?</h1>
    <p class="lead text-white">The technologies I'm using for this project are the following: </p>
  </div>
  <div class="d-flex justify-content-center">
    <ul class="list-group p-2" style="color: black;">
      <li class="list-group-item">Project stack</li>
      <li class="list-group-item"><img src="{{ url_for('static', filename='media/logo-python.svg') }}" width="50"
          height="50"> Python {{ python_version }}</li>
      <li class="list-group-item"><img src="{{ url_for('static', filename='media/server-outline.svg') }}" width="50"
          height="50"> MySQL</li>
      <li class="list-group-item"><img src="{{ url_for('static', filename='media/terminal-outline.svg') }}" width="50"
          height="50"> {{ operating_system }}</li>
      <li class="list-group-item"><img src="{{ url_for('static', filename='media/desktop-outline.svg') }}" width="50"
          height="50"> Web framework: Flask</li>
      <li class="list-group-item"><img src="{{ url_for('static', filename='media/mark-github.svg') }}" width="50"
          height="50"> Github repo: DanielFl0/LuunaBoard</li>
    </ul>
  </div>
</body>
{% endblock %}