{% extends 'layout.html' %}
{% block title %}Archive{% endblock %}
{% block content %}
<body style="background-color: #11100f;">
  <!--Thread path-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: #11100f;">
      <li class="breadcrumb-item"><a href="{{ url_for('categories') }}" style="color: #09f9a9;">Categories</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('board', category_id=category.id) }}" style="color: #09f9a9;">{{ category.name }}</a></li>
      <li class="breadcrumb-item" style="color: #2fb78a;">Archive</li>
    </ol>
  </nav>
  <!--Template-->
  <div class="d-flex justify-content-center">
    <div class="list-group w-50 p-1">
      <a class="list-group-item list-group-item-action text-white" style="background-color: #09f9a9;">Threads</a>
      {% if threads %}
      {% for thread in threads%}
      <a href="{{ url_for('thread', category_id=category.id, thread_id=thread.id) }}"
        class="list-group-item list-group-item-action bg-dark text-white">{{ thread.title }}</a>
      {% endfor %}
      {% else %}
      <div class="alert alert-danger" role="alert">
        No categories available!
      </div>
      {% endif %}
    </div>
  </div>
</body>
{% endblock %}