{% extends 'layout.html' %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}
<body style="background-color: #11100f;">
  <!--Thread path-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: #11100f;">
      <li class="breadcrumb-item"><a href="{{ url_for('categories') }}" style="color: #09f9a9;">Categories</a></li>
      <li class="breadcrumb-item" style="color: #2fb78a;">{{ category.name }}</li>
    </ol>
  </nav>
  <!--Archive-->
  <div class="d-flex justify-content-end">
    <a class="btn" href="{{ url_for('archive', category_id=category.id) }}" role="button" style="background-color: #09f9a9;">Archive</a>
  </div>
  <!--Thread display-->
  <div class="d-flex flex-row justify-content-center flex-wrap text-white">
    {% if threads %}
    {% for thread in threads %}
    <div class="card bg-dark" style="width: 12rem;">
      <img class="card-img-top" src="{{ url_for('static', filename='media/' + thread.image) }}" alt="Card image cap"
        width="286" height="180">
      <div class="card-body">
        <h6 class="mt-0 mb-1"><a
            href="{{ url_for('thread', category_id=thread.category_id, thread_id=thread.id) }}" style="color: #09f9a9;">{{ thread.title }}</a></h6>
        <p class="card-text">
          {{ thread.content}}<br>
          <strong>Replies: </strong>{{ thread.replies }}<br>
          <strong>Date published: </strong>{{ thread.date_posted}}
        </p>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-danger" role="alert">
      No threads available!
    </div>
    {% endif %}
  </div>
  <!--Form-->
  <div class="d-flex justify-content-center text-white">
    <form method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleFormControlInput1">Thread title</label>
        <input type="text" class="form-control" name="title" id="title" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Content</label>
        <textarea class="form-control" name="content" id="content" rows="3" required></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Choose a file</label>
        <input type="file" class="form-control-file" name="image" id="image">
      </div>
      <button type="submit" class="btn" style="background-color: #09f9a9;">Submit</button>
    </form>
  </div>
</body>
{% endblock %}