{% extends 'layout.html' %}
{% block title %}Categories{% endblock %}
{% block content %}
<body style="background-color: #11100f;">
  <div class="jumbotron jumbotron-fluid"
    style="background-image: url({{ url_for('static', filename='media/background_categories.png') }});">
    <div class="container">
      <h1 class="display-4" style="color: white;">Categories</h1>
      <p class="lead" style="color: white;">Select a category to visit a board</p>
    </div>
  </div>
  <!--Template-->
  <div class="d-flex justify-content-center">
    <div class="list-group w-50 p-1">
      <a class="list-group-item list-group-item-action"
      style="background-color: #09f9a9;">Categories</a>
      {% if categories %}
      {% for category in categories %}
      <a href="{{ url_for('board', category_id=category.id) }}"
        class="list-group-item list-group-item-action bg-dark text-white">{{ category.name }}</a>
      {% endfor %}
      {% else %}
      <div class="alert alert-danger" role="alert">
        No categories available!
      </div>
      {% endif %}
    </div>
  </div>
</body>
{% endblock %}